<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:lightblue;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
     
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img src="../../../assets/logos/siai-logo.svg" height="40px" alt="Symphony Industrial AI" />
        </a>
      </div>
      <div class="d-flex align-items-center">
        <app-logout></app-logout>
      </div>
    </div>
    <!-- Container wrapper -->
  
  </nav>
  <!-- Navbar -->