<app-top-bar></app-top-bar>

<main id="main" class="main">
  <div class="pagetitle">
     <h1>Machine Configuration Generator</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item">Pages</li>
           <li class="breadcrumb-item active">Machine Configuration Generator</li>
        </ol>
     </nav>
  </div>
  <section class="section">
     <div class="row">
        <div class="col-lg-12">
           <div class="card">
              <div class="card-body">
                 <h5 class="card-title">Components <button mat-raised-button color="primary" class="my-button" (click)="addPanel()"> + Add</button>
                 </h5>
                 <mat-expansion-panel *ngFor="let panel of panelData let i = index">
                   <mat-expansion-panel-header>
                     <mat-panel-title>
                       Select Component {{i+1}}
                     
                       <span *ngFor="let Component of ComponentValue"> <span>{{Component.name}}</span></span>
                     </mat-panel-title>
                   </mat-expansion-panel-header>
                   <mat-panel-description>
                      <mat-button-toggle-group #group="matButtonToggleGroup">
                         <mat-button-toggle value="Prime Mover">
                           Prime Mover
                         </mat-button-toggle> <br/><br/><br/>
                         <mat-button-toggle value="Closed Coupling">
                         Closed Coupling
                         </mat-button-toggle>
                         <mat-button-toggle value="Belt Or Chain Drive">
                         Belt Or Chain Drive
                         </mat-button-toggle>
                         <mat-button-toggle value="Coupling">
                            Coupling
                         </mat-button-toggle>
                         <mat-button-toggle value="Gearbox">
                           Gearbox
                         </mat-button-toggle>
                            <mat-button-toggle value="Driven">
                              Driven
                            </mat-button-toggle>
                       </mat-button-toggle-group>
                   </mat-panel-description>
                   <div class="selected-value">Selected value: {{group.value}}</div>
                   <div class="example-button-row">
                      <button mat-button color="primary" (click)="onNext('1')" *ngIf="hideNext2">Next ></button>
                    </div>

                   <mat-panel-description *ngIf="group.value==='Prime Mover'">
                      <mat-button-toggle-group #group="matButtonToggleGroup">
                         <mat-button-toggle value="Motor">
                            Motor
                         </mat-button-toggle> <br/><br/><br/>
                         <mat-button-toggle value=" Diesel Engine">
                            Diesel Engine
                         </mat-button-toggle>
                         <mat-button-toggle value="Turbine">
                            Turbine
                         </mat-button-toggle>
                         <mat-button-toggle value="Not Monitored">
                            Not Monitored
                         </mat-button-toggle>
                        
                       </mat-button-toggle-group>
                   </mat-panel-description>

                   <mat-panel-description *ngIf="group.value==='Closed Coupling'">
                      <mat-button-toggle-group #group="matButtonToggleGroup">
                         <mat-button-toggle value="Motor">
                            Motor
                         </mat-button-toggle> <br/><br/><br/>
                        
                         <mat-button-toggle value="Turbine">
                            Turbine
                         </mat-button-toggle>
                       </mat-button-toggle-group>
                   </mat-panel-description>
                   <!-- <div class="selected-value">Selected value: {{group.value}}</div> -->
                   <button mat-button matStepperPrevious *ngIf="hideNext1"> < Back </button>
                   <button mat-button color="primary" (click)="onNext('2')" *ngIf="hideNext1">Next ></button>
                 </mat-expansion-panel>
              </div>
           </div>
        </div>
       
     </div>
  </section>
</main>