.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}
.my-button {
    background-color: #51cbce;
    color: white;
    border: none;
    border-radius: 1px;
    padding: 0px 10px;
    font-size: 20px;
    float: right;
  margin-right: 10px;
  width: auto;
  height: auto;
  }
  .mat-button-toggle-checked {
    background-color: green;
    color: white;
  }

  .example-selected-value {
    margin: 15px 0;
  }